.container {
    width: var(--container-blog-size);
    margin: 0 auto;
}


.title-container{
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    padding: 0;
    padding: 16px 0 16px 16px;
    margin: 0;
}

.post {
    background-color: var(--main-background);   
}

.post-list {
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.post-item{
    padding-top: 24px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
}
.post-title {
    color: var(--article-title-color);
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    padding: 16px 16px 8px 16px;
}

.post-sub-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--sub-title-color);
    padding: 8px 16px 16px 16px;
    margin: 0;
}

.post-text {
    width: 770px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: var(--text-size);
    color: var(--main-color);
    margin: 0;
    padding: 16px;
}